.q1 {border: 5px solid red;
background-color: aqua;
width: 700px;
}
.q2 {border: 5px solid red;
background-color: aqua;
width: 150px;
height: 150px;
margin-top: 40px;
margin: 100px 150px 200px 200px;}
